@model SistemaEscolar.Models.Aluno

<h2 class="text-center mb-4">Detalhes do Aluno</h2>

<div class="card shadow mx-auto" style="max-width: 600px;">
    <div class="card-body">

        <p><strong>Nome:</strong> @Model.Nome</p>
        <p><strong>Idade:</strong> @Model.Idade</p>
        <p><strong>Matéria:</strong> @Model.Materia</p>
        <p><strong>Nota:</strong> @Model.Nota</p>

        <div class="d-flex justify-content-between mt-4">
            <a asp-action="Index" class="btn btn-secondary">Voltar</a>
            <a asp-action="Editar" asp-route-id="@Model.Id" class="btn btn-warning">Editar</a>
        </div>

    </div>
</div>
